.grid_img {
    width:25px;
    height:25px;
}

.homeButtons {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Player Options Screen */
.playerOptionBox {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    align-content: center;
    align-self: center;
    align-items: center;
    border: 4px solid #0074D9;
}

.CodeInput {
    padding-top: 50px;
    padding-bottom: 50px;
}

.map {
    justify-content: center;
    display: flex;
    align-items: center;
}

.LargeButton {
    position: relative;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center
}

html {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("../assets/Menu Images/Underdark.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    /*background-color: #C21F39;*/
}

h2 {
    text-align:center;
    color: #000088;
}
