.grid_img {
    width:25px;
    height:25px;
}

.homeButtons {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.map {
    justify-content: center;
    display: flex;
    align-items: center;
}

.dmView {
    display: flex;
    flex-direction: column;
}

.container {
    height: 100vh;
    position: relative;
    border: 3px solid green;
}

h1 {
    text-align:center;
}

#page {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    width: 1400;
}

#left {
    display: flex;
    flex-direction: column;
}

#dmView {
    display : flex;
    flex-direction: column;
}

#route {
    border-style:solid;
    border-color: black;
}

#topBar {
    display: flex;
    flex-direction: row;
}

#topButton {
    height:40px;
    background-color: gray;
    margin-right:2%;
}